<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] SemanticCORD</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="nav-item text-dark" asp-area="" asp-page="/Index">About</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            @*<a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>*@
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            @*<a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>*@
                            <a class="nav-link text-dark" asp-page="/Semantic/Semantic">Search</a>
                        </li>

                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Papers/Index">Papers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Search/Search">Search</a>
                            </li>*@

                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/swagger">API</a>
                            @*<a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>*@
                            @*<a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>*@

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <small>Help me sustain this site by donating ETH to: 0x5877734C2245BfCbB6e26638c28eBaE48a8a944E   or reach to me ejted @@ hotmail com</small>
            @*&copy; 2020 - covrd - <a asp-area="" asp-page="/Privacy">Privacy</a>*@
        </div>
    </footer>

    <script src="_framework/blazor.server.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
